body {
    padding: 50px;
    font-family: 'Lato';
    font-size: 22px;
  }
  
  .select_join select {
  
    font-family: 'Lato';
    font-size: 22px;
  
  }
  
  a {
    color: #00B7FF;
  }
  
  
  #github {
      position: absolute;
      bottom: 0;
      right: 0;
  }
  
  
  
  /* -----------------------------
  Switch */
  
  .uk-switch {
    position: relative;
    display: inline-block;
    height: 34px;
    width: 60px;
  }
  
  /* Hide default HTML checkbox */
  .uk-switch input {
    display:none;
  }
  /* Slider */
  .uk-switch-slider {
    background-color: rgba(0,0,0,0.22);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 500px;
    bottom: 0;
    cursor: pointer;
    transition-property: background-color;
      transition-duration: .2s;
    box-shadow: inset 0 0 2px rgba(0,0,0,0.07);
  }
  /* Switch pointer */
  .uk-switch-slider:before {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 2px;
    bottom: 2px;
    border-radius: 50%;
    transition-property: transform, box-shadow;
      transition-duration: .2s;
  }
  /* Slider active color */
  input:checked + .uk-switch-slider {
    background-color: #39f !important;
  }
  /* Pointer active animation */
  input:checked + .uk-switch-slider:before {
    transform: translateX(26px);
  }
  
  /* Modifiers */
  .uk-switch-slider.uk-switch-on-off {
    background-color: #f0506e;
  }
  input:checked + .uk-switch-slider.uk-switch-on-off {
    background-color: #32d296 !important;
  }
  
  /* Style Modifier */
  .uk-switch-slider.uk-switch-big:before {
    transform: scale(1.2);
    box-shadow: 0 0 6px rgba(0,0,0,0.22);
  }
  .uk-switch-slider.uk-switch-small:before {
    box-shadow: 0 0 6px rgba(0,0,0,0.22);
  }
  input:checked + .uk-switch-slider.uk-switch-big:before {
    transform: translateX(26px) scale(1.2);
  }
  
  /* Inverse Modifier - affects only default */
  .uk-light .uk-switch-slider:not(.uk-switch-on-off) {
    background-color: rgba(255,255,255,0.22);
  }
  
  .side-by-side{display: table-cell;vertical-align: middle;position: relative;}
  .text{font-weight: 600;font-size: 19px;width: 200px;}
  .reading{font-weight: 300;font-size: 30px;padding-right: 25px;}
  .temperature .reading{color: #F29C1F;}
  .temperature .reading{color: #F29C1F;}
  .humidity .reading{color: #3B97D3;}
  .pressure .reading{color: #26B99A;}
  .altitude .reading{color: #955BA5;}
  .superscript{font-size: 17px;font-weight: 600;position: absolute;top: 10px;}
  .data{padding: 10px;}";
  .container{display: table;margin: 0 auto;}
  .icon{width:65px}
  
  
  .uk-badge-enabled {
      box-sizing: border-box;
      min-width: 22px;
      height: 22px;
      padding: 0 5px;
      border-radius: 500px;
      vertical-align: middle;
  
      color: #fff;
      font-size: .875rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(to bottom,#39f,#39f);
    }
  
  .uk-badge-disabled {
      box-sizing: border-box;
      min-width: 22px;
      height: 22px;
      padding: 0 5px;
      border-radius: 500px;
      vertical-align: middle;
  
      color: #fff;
      font-size: .875rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(to bottom,#e8eae6,#474746);
    }
  
    .uk-background-form{
        background-color: #fff;
    }
  
  
  .uk-tile-dotted {
          
          border-style: dotted;
  }

  .uk-tile-dotted-green {
          
    border-style: dotted;
    color:  rgb(124, 255, 17);
}